.contacter{
	font-size:50px;
}
fieldset{
	background-color:rgb(0,184,148);
	color:white;
	font-size:35px;
}
input,select,option,button,textarea{
	font-size:35px;
	background-color:rgb(50,50,50);
}
button{
	color:rgb(0,184,148);
}
option,select{
	font-size:25px;
	color:white;
}
.submit{
	font-size:60px;
	background-color:white;
	color:rgb(0,184,148);
}
textarea{
	color:white;
}
